* {
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #020617;
    padding: 25px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.sentence {
    border: 1px solid #334155;
    padding: 15px;
    border-radius: 6px;
    min-height: 70px;
    margin-bottom: 15px;
    font-size: 18px;
}

.sentence span.correct { color: #22c55e; }
.sentence span.wrong { color: #ef4444; }

textarea {
    width: 100%;
    height: 90px;
    background: #020617;
    color: #e5e7eb;
    border: 1px solid #334155;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    resize: none;
    outline: none;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #2563eb;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.result {
    margin-top: 15px;
    text-align: center;
    display: none;
}

.modes {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    font-size: 14px;
}
.modes label {
    cursor: pointer;
}